/* ==============================================
    Resets
============================================== */

@import 'reset';

/* ==============================================
    Base
============================================== */

$colors: (
    // Palette
    dominant: #3f69ee,
    accent1: #59a0e8,
    accent2: #2d3553,
    background: white,
    // Misc colors
    background-photos: #f5f7f8,
    background-menu: black,
    background-submenu: #333,
    text-light: white,
    text-medium1: #adb6be,
    text-medium2: #7a8792,
    text-dark: #333,
    border: #ebebeb,
    border-btn: #d9dadd
);

$padding: 22px;

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: map-get($colors, "text-dark");
    font-size: 14px;
    line-height: 20px;
    background-color: map-get($colors, "background");
}

.section-header {
    padding: $padding;
    text-align: center;
}

a, button {
    cursor: pointer;
}

button {
    width: 210px;
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 8px 9px 7px;
    border: 0;
    border-radius: 4px;
    font-size: .7em;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dark-button {
    background-color: map-get($colors, "dominant");
    color: map-get($colors, "text-light");

    &:hover {
        background-color: map-get($colors, "accent1");
    }
}

.light-button {
    background-color: map-get($colors, "background");
    color: map-get($colors, "dominant");

    &:hover {
        background-color: map-get($colors, "accent2");
        color: map-get($colors, "text-light");
    }
}

.transparent-button {
    border: 1px solid map-get($colors, "border-btn");
    background-color: transparent;
    color: map-get($colors, "text-dark");

    &:hover {
        background-color: map-get($colors, "accent1");
        color: map-get($colors, "text-light");
    }
}

%text-shadow {
    text-shadow: 1px 1px 16px rgba(0, 0, 0, .2);
}

/* ==============================================
    Hero Header
============================================== */

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:
        linear-gradient(
            rgba($color: #000, $alpha: 0.2),
            rgba($color: #000, $alpha: 0.2)
        ),
        url(../images/hero.jpg) center / auto 100% no-repeat;

    #main-nav {
        width: 100%;
        height: 60px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #logo {
            width: 43%;
            height:100%;
            background-image: url(../images/shutter-logo.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        #nav-btn {
            color: map-get($colors, "text-light");
            display: flex;
            width: 40px;
            height: 40px;
            border: 1px solid map-get($colors, "background");
            border-radius: 3px;

            &:hover {
                color: black;
                background-color:  map-get($colors, "background");
            }

            i {
                margin: auto;
            }
        }

        .nav-menu {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -62%;
            width: 62%;
            height: 100vh;
            background-color: map-get($colors, "background-menu");
            overflow: hidden;
            transition: right .2s ease-in-out;

            .nav-element {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                padding: 10px 25px;
                color: map-get($colors, "text-light");
                font-size: 11px;
                font-weight: 300;
                letter-spacing: 1px;
                text-transform: uppercase;
                cursor: pointer;
            }

            .nav-sub-menu {
                display: none;
                flex-direction: column;
            }

            // Sub menu show/hide
            .active {
                display: flex;
            }

            .nav-sub-menu .nav-element {
                height: 35px;
                padding-left: 15px;
                background-color: map-get($colors, "background-submenu");
            }

            .nav-element:hover {
                background-color: map-get($colors, "dominant");
            }
        }

        // Navigation menu show/hide
        .active {
            right: 0;
        }
    }

    .hero-content {
        text-align: center;
        padding: 0 10px 20px;
        color: map-get($colors, "text-light");

        h1 {
            font-size: 2.25em;
            font-weight: 400;
            line-height: 32px;
            @extend %text-shadow;
            animation: 500ms ease fade-in-up-on-load;
        }

        h2 {
            width: 100%;
            margin: 10px 0;
            font-weight: 300;
            line-height: 25px;
            @extend %text-shadow;
            animation: 500ms ease fade-in-down-on-load 500ms backwards;
        }

        .dark-button {
            animation: 500ms ease appears 1s backwards;
        }
        
        .light-button {
            animation: 500ms ease appears 1.1s backwards;
        }
    }

    .photographer-block {
        $padding: 10px;
        padding-right: $padding * 3;
        padding-bottom: $padding * 2;
        color: map-get($colors, "text-light");
        font-size: 0.86em;
        font-weight: 300;
        text-align: right;

        a {
            color: map-get($colors, "text-light");
            font-size: 0.86em;
            font-weight: 700;
            text-decoration: none;
        }
    }
}


/* ==============================================
    Section 1 - Featured photos
============================================== */

#featured-photos {
    .section-header .is-visible {
        animation: 500ms ease fade-in-up-on-load;
    }

    h2 {
        font-size: 2em;
        line-height: 32px;
    }

    h3 {
        margin-top: 7px;
        color: map-get($colors, "text-medium1");
        font-size: 1em;
        line-height: 23px;
    }

    .photos-wrapper {
        padding: $padding;
        text-align: center;
        border-top: 1px solid map-get($colors, "border");
        background-color: map-get($colors, "background-photos");;

        a {
            width: 100%;
            display: block;
            margin-bottom: 6px;

            // TODO vérifier pourquoi ne fonctionne pas.
            &:last-child {
                margin-bottom: 0;
            }

            figure {
                position: relative;
                overflow: hidden;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .7) 100%);
                }

                img {
                    width: 100%;
                    display: block;
                    margin: -6% 0;
                }
    
                figcaption {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    z-index: 1;
                    color: map-get($colors, "text-light");
                }
            }
        }

        .btn-wrapper {
            margin-top: 14px;

            button {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

/* ==============================================
    Footer
============================================== */

footer {
    padding: $padding;
    border-top: 1px solid #eee;
    color: map-get($colors, "text-medium1");
    font-size: 13px;
    line-height: 24px;

    div {
        padding-bottom: 15px;
    }

    h2 {
        margin-bottom: 10px;
        color: #000;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    li {
        display: flex;
        margin-bottom: 8px;

        i {
            width: 15px;
            color: #000;
            margin-right: 10px;
        }

        a:hover {
            color: map-get($colors, "dominant");
            text-decoration: underline;
        }
    }

    .copyright {
        margin-top: 30px;
        border-top: 1px solid rgba(0, 0, 0, .06);
        padding-top: 20px;
        padding-bottom: 0;
        font-size: 12px;

        a {
            color: map-get($colors, "text-medium2");;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* ==============================================
    On load animations
============================================== */

@keyframes fade-in-up-on-load {
    from {
        opacity: 0;
        transform: translate(0px, 10px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fade-in-down-on-load {
    0% {
        opacity: 0;
        transform: translate(0px, -10px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes appears {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}