/* ==============================================
    Resets
============================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==============================================
    Base
============================================== */
:root {
  font-size: 100%;
  line-height: 1.4;
  background-color: white;
}

body {
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #333;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  width: 250px;
  padding: 0.8125rem;
  font-size: 0.8125rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}
button.dark-button {
  color: white;
  background-color: #3f69ee;
  border: 1px solid #3f69ee;
}
button.dark-button:hover {
  background-color: #59a0e8;
  border-color: #59a0e8;
}
button.light-button {
  color: #3f69ee;
  background-color: white;
  border: 1px solid white;
}
button.light-button:hover {
  color: white;
  background-color: #2d3553;
  border-color: #2d3553;
}
button.transparent-button {
  color: #333;
  background-color: transparent;
  border: 1px solid #d9dadd;
}
button.transparent-button:hover {
  color: white;
  background-color: #59a0e8;
  border-color: #59a0e8;
}

.hero-content h2, .hero-content h1 {
  text-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
}

/* ==============================================
    Hero Header
============================================== */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero.jpg) center/cover no-repeat;
}

#main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}
@media screen and (min-width: 768px) {
  #main-nav {
    height: 110px;
    padding: 30px 40px;
  }
}

#logo {
  display: inline-block;
  max-width: 100%;
  height: 15px;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  #logo {
    height: 28px;
  }
}

@media screen and (min-width: 1028px) {
  #nav-btn {
    display: none;
  }

  .nav-menu {
    display: flex;
    max-width: 940px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
  }

  .nav-element {
    margin-top: 10px;
    margin-left: 25px;
    padding-bottom: 10px;
    color: white;
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }
  .nav-element:hover {
    border-bottom: 1px solid #ebebeb;
  }
  .nav-element a {
    color: inherit;
  }
  .nav-element i {
    margin-left: 5px;
  }

  .nav-sub-menu {
    position: absolute;
    top: 75px;
    display: none;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 8px 13px 0 rgba(0, 0, 0, 0.2);
  }
  .nav-sub-menu .nav-element {
    margin-left: 0;
    padding: 10px;
    color: black;
    border-bottom: 0;
  }
  .nav-sub-menu .nav-element:hover {
    color: white;
    background-color: #3f69ee;
  }

  #home {
    right: 587px;
  }

  #gallery {
    right: 338px;
  }

  .active {
    display: flex;
  }
}
@media screen and (max-width: 1028px) {
  #nav-btn {
    display: flex;
    width: 40px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
  }
}
@media screen and (max-width: 1028px) and (min-width: 768px) {
  #nav-btn {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 1028px) {
  #nav-btn:hover {
    color: black;
    background-color: white;
  }
}
@media screen and (max-width: 1028px) {
  #nav-btn i {
    margin: auto;
  }
}
@media screen and (max-width: 1028px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: -200px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: black;
    transition: right 0.2s ease-in-out;
  }
}
@media screen and (max-width: 1028px) {
  .nav-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 10px 25px;
    font-size: 0.875em;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
  .nav-element a {
    color: white;
  }
}
@media screen and (max-width: 1028px) {
  .nav-sub-menu {
    display: none;
    flex-direction: column;
  }
}
@media screen and (max-width: 1028px) {
  .active {
    display: flex;
  }
}
@media screen and (max-width: 1028px) {
  .nav-sub-menu .nav-element {
    height: 35px;
    padding-left: 15px;
    background-color: #333;
  }
}
@media screen and (max-width: 1028px) {
  .nav-element:hover {
    background-color: #3f69ee;
  }
}
.active {
  right: 0;
}

.hero-content {
  padding: 0 10px 20px;
  color: white;
  text-align: center;
}
.hero-content h1 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 500;
  animation: 500ms ease fade-in-up-on-load;
}
@media screen and (min-width: 768px) {
  .hero-content h1 {
    font-size: 2.25em;
  }
}
.hero-content h2 {
  margin: 10px 0;
  line-height: 1.4;
  color: #dae5ee;
  animation: 500ms ease fade-in-down-on-load 500ms backwards;
}
@media screen and (min-width: 768px) {
  .hero-content h2 {
    padding: 10px 0;
    font-size: 1.3125em;
  }
}
.hero-content button {
  margin-top: 6px;
  margin-right: 8px;
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .hero-content button {
    margin: 20px 8px 0;
  }
}
.hero-content button.dark-button {
  animation: 500ms ease appears 1s backwards;
}
@media screen and (min-width: 768px) {
  .hero-content button.dark-button {
    width: 265px;
  }
}
.hero-content button.light-button {
  animation: 500ms ease appears 1.1s backwards;
}

.photographer-block {
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 0.8125em;
  color: white;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .photographer-block {
    padding-right: 50px;
    padding-bottom: 40px;
    font-size: 0.875em;
  }
}
.photographer-block a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .photographer-block a {
    margin-left: 5px;
  }
}

/* ==============================================
    Section 1 - Featured photos
============================================== */
.section-header {
  padding: 22px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-header {
    padding: 44px;
  }
}
.section-header .is-visible {
  animation: 500ms ease fade-in-up-on-load;
}
.section-header h2 {
  font-size: 1.75em;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .section-header h2 {
    font-size: 2.25em;
  }
}
.section-header h3 {
  margin-top: 1em;
  color: #9fa8af;
  font-size: 1em;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .section-header h3 {
    font-size: 1.3125em;
  }
}

.photos-wrapper {
  display: grid;
  row-gap: 6px;
  padding: 22px;
  text-align: center;
  background-color: #f5f7f8;
  border-top: 1px solid #ebebeb;
}
@media screen and (min-width: 594px) {
  .photos-wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 180px 220px 180px auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 44px;
  }
  .photos-wrapper .box1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .photos-wrapper .box2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .photos-wrapper .box3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .photos-wrapper .box4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .photos-wrapper .box5 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .photos-wrapper .box6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .photos-wrapper .box7 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .photos-wrapper .box8 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .photos-wrapper .box9 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .photos-wrapper .box10 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media screen and (min-width: 1024px) {
  .photos-wrapper {
    grid-template-rows: 230px 340px 230px auto;
  }
}

.photo {
  display: block;
  width: 100%;
}
.photo figure {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.photo figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
}
.photo figure img {
  display: block;
  width: 100%;
  margin: -6% 0;
}
@media screen and (min-width: 594px) {
  .photo figure img {
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
}
.photo figure figcaption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  width: 80%;
  color: white;
  font-weight: 500;
  text-align: left;
}

.btn-wrapper {
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .btn-wrapper {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .btn-wrapper {
    margin-top: 19px;
  }
}
.btn-wrapper button {
  margin: 5px 10px 0 10px;
}
@media screen and (max-width: 425px) {
  .btn-wrapper button {
    width: 100%;
    margin: 5px 0 0 0;
  }
}

/* ==============================================
    Footer
============================================== */
footer {
  display: grid;
  padding: 22px;
  font-size: 0.875em;
  line-height: 1.5;
  color: #9fa8af;
  border-top: 1px solid #eee;
}
@media screen and (min-width: 712px) {
  footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    padding: 44px;
  }
  footer .copyright {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding-top: 100px;
  }
}

.footer-col {
  padding-bottom: 15px;
}
@media screen and (min-width: 872px) {
  .footer-col {
    margin-left: 40px;
  }
}
.footer-col:first-child {
  margin-left: 0;
}
.footer-col h2 {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (max-width: 712px) {
  .footer-col #bio {
    width: 75%;
  }
}
.footer-col p {
  display: block;
}
.footer-col li {
  display: flex;
  margin-bottom: 0.5em;
}
.footer-col li i {
  width: 15px;
  margin-right: 10px;
  color: #000;
}
.footer-col li a:hover {
  color: #3f69ee;
  text-decoration: underline;
}

.copyright {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
@media screen and (min-width: 864px) {
  .copyright {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .copyright {
    margin-top: 50px;
  }
}
.copyright p:last-child {
  margin-top: 1em;
}
@media screen and (min-width: 864px) {
  .copyright p:last-child {
    margin-top: 0;
  }
}
.copyright a {
  color: #657079;
  text-decoration: none;
}
.copyright a:hover {
  text-decoration: underline;
}

/* ==============================================
    On load animations
============================================== */
@keyframes fade-in-up-on-load {
  from {
    opacity: 0;
    transform: translate(0px, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes fade-in-down-on-load {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
